
<html><head>
  <meta charset="UTF-8">
  <title>My space</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>


<body>
  <div class="container">
    <div class="cards">
      <div class="card-trip">
        <% if @space.photo.attached? %>
          <%= cl_image_tag @space.photo.key %>
        <% end %>
      <div class="card-trip-infos">
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="space-info flexbox">
    <div class="space-description">
      <h1><%= @space.name %></h1>
      <h3><%= @space.area %></h3>
      <p><%= @space.description %></p>
      <div class="owner-info">
        <div class="card-host">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="card-host-content">
            <p><small>Your host will be</small></p>
            <p><%= @owner.email %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="space-price-card">
      <p>Price : AED <%=@space.price_per_day%></p>
      <p>Start date</p>
      <p>End date</p>
      <a class="btn btn-flat" href="#">Book</a>
    </div>
  </div>

</div>
</body></html>

