<div class="container pt-4">
  <div class="row">
    <div class="space-info col-8">
      <div class="place">
          <h2><%= @space.name %></h2>
          <p class="address"><i class="fas fa-map-marker-alt"></i> <%= @space.address %></p>
          <p class="capacity"><i class="fas fa-users"></i> <%= @space.capacity %></p>
          <p class="description"><%= @space.description %></p>
        <% if @space.photo.attached? %>
          <img src="<%= cl_image_path @space.photo.key%>" height="400px" />
        <% else %>
          <img src="" />
        <% end %>
        <div class="owner-info">
        <div class="card-host">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="card-host-content">
            <p><small>Your host will be</small></p>
            <p><%= "#{@space.owner.first_name} #{@space.owner.last_name}" %></p>
          </div>
        </div>
      </div>
        </div>
    </div>
    <div class="space-info col-4">
          <!-- checkout -->
          <div class="bg-white border p-3 sticky-top">
            <div class="d-flex justify-content-between mt-3">
              <%= simple_form_for [@space, @booking] do |f| %>
                <%= f.input :start_date %>
                <%= f.input :end_date %>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <p><strong>Price (per day)</strong> </p>
              <p>AED <%= @space.price_per_day %></p>
            </div>

            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p><strong>Number of Days</strong> </p>
              <p id="num-days">1</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <p><strong>Total</strong></p>
              <p id="total-price"><strong><%= @space.price_per_day %></strong></p>
            </div>
                <%= f.button :submit, class: 'btn find-button w-100' %>
              <% end %>
            <!-- <a href="#" class="btn find-button w-100">Confirm Booking</a> -->

          </div>
          <!-- /checkout -->
    </div>

  </div>
</div>


<!--     <div id="map" class="fixed-top position-sticky" style="width: 50%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"> -->

