<div class="container  p-3">
  <div class="card-wrapper">
    <div class="space-info">
      <div class="place-title">
        <h3>Your booking details</h3>
      </div>
      <div class="card-trip">
        <% if @space.photo.attached? %>
          <img src="<%= cl_image_path @space.photo.key%>" />
        <% else %>
          <img src="" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @space.name %></h2>
            <p><%= @space.address %></p>
            <p><%= @booking.start_date.strftime('%B %e, %Y') %></p>
            <p><%= @booking.end_date.strftime('%B %e, %Y') %></p>
            <p> Capacity for <%= @space.capacity %> people</p>
          </div>
          <p class="card-trip-pricing">Your host will be <%= "#{@space.owner.first_name} #{@space.owner.last_name}" %></p>
          <% if @space.owner.photo.attached? %>
          <img src="<%= cl_image_tag @space.owner.photo.key%>" />
          <% else %>
          <%= image_tag 'missing-avatar.png', class: "avatar-large" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="booking-details-wrapper">
      <div class="card">
        <div class="bg-white p-3">
          <div class="d-flex justify-content-between mt-3">
            <p><strong>Price per day</strong></p>
            <p>AED <%=@space.price_per_day%> </p>
          </div>
          <div class="d-flex justify-content-between mt-3 border-bottom">
            <p><strong>Total amount of days</strong></p>
            <p>  <%=@days%> </p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <p><strong>Total</strong></p>
            <p>  <%=@total%> </p>
          </div>
        </div>
      </div>
    </div>
</div>
