  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(20,20,20, 0) 0%, rgba(20,20,20, 0.6) 30%, rgba(20,20,20, 0.0) 90%), url('<%= image_path 'Banner 2.jpg' %>');">
    <!-- code a Hero / Banner section -->
    <div class="container">
      <h1> Your next private party starts here </h1>
      <p>Find the perfect space for your event</p>
      <div class="search-bar mb-3">
        <%= render 'shared/search_bar' %>
      </div>
      <%= link_to "Browse Spaces", spaces_path, class: 'btn-green' %>
      <%= link_to "Add a Space", new_space_path, class: "btn-green" %>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-centered mb-2">
    </div>
    <h2 class= "card-title mt-3 mb-3" >Thousands of unforgetable locations for your events</h2>
    <div class="cards" id="space-grid">
      <% @spaces.each do |space| %>
      <%= link_to space_path(space) do %>
      <div class="card-trip">
        <% if space.photo.attached? %>
        <%= cl_image_tag space.photo.key %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= space.name %></h2>
            <p><%= space.description %></p>
          </div>
          <h2 class="card-trip-pricing">AED <%= space.price_per_day %></h2>
          <% if space.owner.photo.attached? %>
          <%= cl_image_tag space.owner.photo.key, class: "card-trip-user avatar-bordered" %>
          <% else %>
          <%= image_tag 'missing-avatar.png', class: "card-trip-user avatar-bordered" %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Browse All Spaces", spaces_path, class: 'btn-green' %>
    </div>
  </div>
