<html><head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'BannerPicture.jpg' %>');">
  <!-- code a Hero / Banner section -->
    <div class="container">
      <h1> Your next private party starts here </h1>
      <p>Find the perfect space for your event</p>
      <div class="search-bar mb-3">
        <%= render 'shared/search_bar' %>
      </div>
      <%= link_to "Browse Spaces", spaces_path, class: 'btn-green' %>
      <%= link_to "Add a Space", new_space_path, class: "btn-green" %>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-centered mb-2">
    </div>
    <div class="cards" id="space-grid">
      <% @spaces.each do |space| %>
      <%= link_to space_path(space) do %>
      <div class="card-trip">
        <% if space.photo.attached? %>
          <%= cl_image_tag space.photo.key %>
        <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= space.name %></h2>
          <p><%= space.description %></p>
        </div>
          <h2 class="card-trip-pricing">AED <%= space.price_per_day %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</body></html>
